# This is Git's per-user configuration file.
[user]
    name = Debora Duarte
    email = debora.duarteas@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore

[alias]
    st = status
    ca = commit --amend
    can = commit --amend --no-edit
    pf = push -f
    co = commit -m

[push]
    default = matching

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reversedebora.duarteas@gmail.com
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bolddebora.duarte@nubank.com.br
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
